<li class="panel panel-default note">
 <div class="panel-heading tileHeading movable">
  <h3 class="panel-title">
   <%= basicInfo.name %><span id="priorityBadge"
    class="badge pull-right"><%= basicInfo.patientId %></span>
  </h3>
 </div>
 <div id="patientInfoArea" class="panel-body ignoreDrag">
  <p>DOB: <%= basicInfo.dateOfBirth %></p>
  <p>LOC: <%= basicInfo.location %></p>
 </div>
 <div class="panel-footer dashboardTileFooter movable">
  <span id="priorityBadge" class="badge badge-count dashboardCountBadge" style="float:left;"><%=numNotes%> <%=numNotes==1?'Note':'Notes'%></span>
  <span id="priorityBadge" class="badge badge-count dashboardCountBadge pull-right"><%=numTasks%> <%=numTasks==1?'Task':'Tasks'%></span>
 </div>
</li>