<div class="modal fade" id="modalNote" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog modalNote">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">
     Note Details <span id="priorityBadge"
      class="badge <%=badgeLevel%> pull-right"
      style="font-size: inherit; margin-right: 5px;">
      <%= _.template.getPriorityStringFromCode(priorityCode)%></span>
    </h4>
   </div>
   <div class="modal-body modalNoteBody">
    <p>
     Note Text: <a id="noteText"><%=text%></a>
    </p>
    <p>
     Priority: <a id="priority"><%= _.template.getPriorityStringFromCode(priorityCode)%></a>
    </p>
    <p>
     Valid Thru: <a id="expiration"></a>
    </p>
    <p>Reported by: <%=_.template.getUser(reporter)%> on <%= _.template.formatdate(reportedDate) %></p>
   </div>
   <div class="modal-footer modalNoteFooter" >
    <button id="editButton" type="button" class="btn btn-primary">Edit</button>
    <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>