<div class="container-fluid mainView" id="test">
 <div class="row">
  <div class="col-md-3 patientPanel">
   <span style="display: inline-block"><h3>Patient Info</h3></span>
   <div id="patientInfo">
    Under Construction

    <div class="well">
     Filter items:<br>
     <div class="filter">
     <div class="filterLabelLeft">
       <b>Show</b>
      </div>
      <div class="btn-group" data-toggle="buttons">
       <label class="btn btn-primary" id="allNotes"> <input type="radio"
        name="expiredOptions" > All Items
       </label> <label title="Show only non-expired items" id="nonExpiredNotes" class="btn btn-primary active" > <input type="radio"
        name="expiredOptions"  > Current Items
       </label>
      </div>
     </div>
     <div class="filter">
      <div class="filterLabelLeft">
       <b>Personal Note</b>
      </div>
      <div class="filterBox">
       <span> <input type="text" style="width: inherit;" value=""
        id="filterSlider"></span>
      </div>
      <div class="filterLabelRight">
       <b>Critical</b>
      </div>
     </div>
     <button type="button" class="btn btn-primary" id="resetFilters"
      style="margin-top: 10px;">Reset Filters</button>
    </div>
   </div>
  </div>
  <div id="patientNotes" class="col-md-7 patientPanel">
   <span style="display: inline-block"><h3>Notes</h3></span>
   <button type="button" id="addNewButton"
    class="btn btn-primary newButton">
    <span class="glyphicon glyphicon-plus"></span> Add Note
   </button>
   <button type="button" id="undoButton"
    class="btn btn-primary newButton" style="display:none">
    <span class="glyphicon"></span> Undo Last Action
   </button>

   <div class="gridster" id="noteGrid">
    <ul></ul>
   </div>
  </div>
  <div id="patientTasks" class="col-md-2 patientPanel">
   <span style="display: inline-block"><h3>Tasks</h3></span>
   <button type="button" id="addNewButton"
    class="btn btn-primary newButton">
    <span class="glyphicon glyphicon-plus"></span> Add Task
   </button>
   <div class="gridster" id="taskGrid">
    <ul></ul>
   </div>
  </div>
 </div>
</div>
</div>
