<li class="panel panel-default note clickable" >
 <div class="panel-heading tileHeading ">
  <h3 class="panel-title">
   Task<span id="closeIcon"
    class="glyphicon glyphicon-remove-circle closeIcon pull-right ignoreDrag"
    style="padding-left: 5px;" title="Remove task"></span> <span
    id="priorityBadge" class="badge <%=badgeLevel%> pull-right"><%=_.template.getPriorityStringFromCode(priorityCode)%></span>
    &nbsp
  </h3>
 </div>
 <div class="panel-body noteTextArea ">
  <p id="noteText" class="ignoreDrag" style="text-overflow: ellipsis;"></p>
 </div>
 <div class="panel-footer noteFooter ">
  <div class="noteReporter">
  <%=_.template.getUser(reporter)%> on <%= _.template.formatdate_noTime(reportedDate) %>
  </div>
 </div>
 <div class="panel-footer noteFooter ">
  <div class="noteReporter">
  <%=_.template.getUser(reporter)%> on <%= _.template.formatdate_noTime(reportedDate) %>
  </div>
 </div>
</li>