<li class="panel panel-default note" id="<%= noteId%>">
 <div class="panel-heading tileHeading">
  <h3 class="panel-title">
   Task<span id="closeIcon"
    class="glyphicon glyphicon-remove-circle closeIcon pull-right ignoreDrag"
    style="padding-left: 5px;" title="Remove task"></span> <span
    id="priorityBadge" class="badge <%=badgeLevel%> pull-right"><%=_.template.getPriorityStringFromCode(priorityCode)%></span>&nbsp
  </h3>
 </div>
 <div class="panel-body noteTextArea">
  <p id="noteText" style="text-overflow: ellipsis;"></p>
 </div>
 <div class="panel-footer">
  <div class="pull-right">
   <button id="openNoteButton" class="btn btn-info">Open</button>
  </div>
  <div class="noteReporter">
   Reported by:<br><%=_.template.getUser(reporter)%>
  </div>
 </div>
</li>