<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MHandoff</title>


<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/gridster.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/bootstrap-editable.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script src="js/underscore.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/moment.min.js"></script>
<script src="js/bootstrap-editable.js"></script>
<script src="js/backbone.js" type="text/javascript"></script>
<script src="js/gridster.js" type="text/javascript"></script>

<script type="text/javascript">
	var gridster;
	
	$(function() {
		gridtster = $(".gridster > ul").gridster({
			widget_margins : [ 7, 7 ],
			widget_base_dimensions : [ 250, 150 ],
			min_cols : 3
		}).data('gridster');
	});
</script>

<script src="js/helloworld.js" type="text/javascript"></script>


<script id="indivNoteTemplate" type="text/javascript">
<li class="panel panel-default note" id="<%= noteId%>">
 <div class="panel-heading">
  <h3 class="panel-title">
   Note<span id="closeIcon"
    class="glyphicon glyphicon-remove-circle closeIcon pull-right"
    style="padding-left: 5px;"></span> <span
    class="badge <%=badgeLevel%> pull-right">Priority <%=
    priority%></span>&nbsp
  </h3>
 </div>
 <div class="panel-body noteTextArea">
  <p id="noteText" style="text-overflow: ellipsis;"><%= text%></p>
 </div>
 <div class="panel-footer">
  <div class="pull-right">
   <button id="openNoteButton" class="btn btn-info">Open</button>
  </div>
  <div class="noteReporter">
   Reported by:<br><%=reporter%>
  </div>
 </div>
 <div id="modalContainer"></div>
</li>
</script>

<script id="modalNoteTemplate" type="text/javascript">
<div class="modal fade" id="modalNote" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">
     Note Details <span class="badge <%=badgeLevel%> pull-right"
      style="font-size: inherit; margin-right: 5px;">Priority
      <%=priority%></span>
    </h4>
   </div>
   <div class="modal-body">
    <p>
     Note Text: <a id="noteText"><%=text%></a>
    </p>
    <p>
    Valid Thru: <a id="expiration"></a>
   </p>
    <p>
    Reported by: <%=reporter%> on <%= reportedDate%>
   </p>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button id="editButton" type="button" class="btn btn-primary">Edit</button>
   </div>
  </div>
 </div>
</div>
</script>




<script id="indivNoteTemplate" type="text/javascript">
<li class="panel panel-default note" id="<%= noteId%>">
<div class="panel-heading">
<h3 class="panel-title">Note <span id="closeIcon"  class="glyphicon glyphicon-remove-circle closeIcon pull-right" style="padding-left:5px;"></span>
  <span class="badge <%=badgeLevel%> pull-right">Priority <%= priority%></span>&nbsp
</h3>
</div>
<div class="panel-body noteTextArea" >
<p style="text-overflow:ellipsis;">Text: <%= text%></p></div>

<div class="panel-footer">
<div class="pull-right">
<button id="openNoteButton" class="btn btn-info">Open</button>
</div>
<div class="noteReporter">Reported by:<br><%=reporter%></div></div>
 </li>
</script>
<script src="patientView.js" type="text/javascript"></script>
</head>
<body>
	<div class="base">
        <div id="modalContainer"></div>
		<div class="gridster" id="noteGrid">
			<ul>
			</ul>

		</div>
		<div class="button1" , id="myButtons">
			<button class="first" id="buttonPress">Refresh</button>
			<button class="second" id="addDummyButton">Create Notes</button>
		</div>
		<div id="undoAlertHolder" style="width: 100px;"></div>
	</div>
	<ul id="patientList">
	</ul>



	<div></div>


	s
</body>
</html>