#noteGrid {
	position: relative;
}

.mainView {
	min-height: 500px;
}

.note {
	position: relative;
	box-shadow: 5px 5px 10px #888888;
	overflow: hidden;
}

.modalNoteBody {
	padding-bottom: 0px;
	width: 533px;
}

.modalNote {
	padding-bottom: 0px;
	width: 570px;
}

.modalNoteFooter {
	padding-top: 10px;
	padding-bottom: 10px;
}

.movable:hover {
	cursor: move;
}

.noteFooter {
	position: absolute;
	bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.mottHeader {
	/* background-color:#617FAD; */
	margin: 0 0 0 0;
	padding-top: 0px;
	padding-bottom: 10px;
	border-bottom: 0px;
}

.mottHeader h1 {
	display: inline-block;
}

#userSection {
	padding-right: 10px;
	padding-top: 20px;
}

.nav-tabs>li .close {
	margin: -6px 0 0 5px;
	font-size: 26px;
}

.tileHeading {
	padding-top: 5px;
	padding-bottom: 5px;
}

.noteTextArea {
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	padding-top: 10px;
}

.noteTextArea:hover {
	cursor: pointer;
}

.noteTextArea p {
	padding: 0;
	margin: 0;
	float: left;
	overflow: hidden;
	font-size: 10pt;
}

.patientPanel {
	border-left: 2px solid #eee;
	display: table-cell;
}

.patientPanel h3 {
	margin-top: 5px;
	margin-bottom: 2px;
}

.addNewTile {
	background-color: #f5f5f5;;
}

#addNewTileInner {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 15%;
	color: #999999;
}

#addNewTileInner:hover {
	cursor: pointer;
}

#addNewTileInner:hover {
	color: #000000;
}

.ignoreDrag {
	
}

.staticGridItem {
	-webkit-transition: left .3s, top .3s !important;
	-moz-transition: left .3s, top .3s !important;
	-o-transition: left .3s, top .3s !important;
	transition: left .3s, top .3s !important;
	display: list-item;
	position: absolute;
	-moz-transition: left .3s, top .3s !important;
	-o-transition: left .3s, top .3s !important;
	transition: left .3s, top .3s !important;
}

.addNewTileIcon {
	width: 100%;
	font-size: 30pt;
}

.newButton {
	margin-left: 15px;
}

.badge-critical {
	background-color: #d9534f;
}

.badge-high {
	background-color: #f89406;
}

.badge-low {
	background-color: #5bc0de;
}

.badge-med {
	background-color: #428bca;
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .1s ease-out;
	-moz-transition: -moz-transform .1s ease-out;
	-o-transition: -o-transform .1s ease-out;
	transition: transform .1s ease-out;
}

.closeIcon,.closeIcon a {
	color: #999999;
}

.closeIcon:hover {
	color: #000000;
	cursor: default;
}

.noteReporter {
	font-size: 8pt;
	width: 100%;
}

.more {
	position: absolute;
	right: 0;
	bottom: 5px;
	padding-left: 2em;
}

.page-footer {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-top: 1px solid #ddd;
}

.footerText {
	font-size: 14px;
	color: #999;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* long messy gradient background code */
.grad {
	background: -moz-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(241,
		241, 241, 0)), color-stop(19%, rgba(241, 241, 241, 0.53)),
		color-stop(36%, rgba(241, 241, 241, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* IE10+ */
	background: linear-gradient(to right, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f1f1',
		endColorstr='#f1f1f1', GradientType=1);
	/* IE6-9 */
}