#noteGrid {
	position: relative;
}

.mainView {
	min-height:500px;
}

.note {
	position: relative;
	box-shadow: 5px 5px 10px #888888;
	max-width: 250px;
	max-height: 150px;
	overflow: hidden;
}

.mottHeader {
	/* background-color:#617FAD; */
	margin: 0 0 0 0;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 0px;
}

.tabContainer {
	/* background-color:#617FAD; */
	
}

.tabContainer>li {
	/* background-color:#FFFFFF; */
	
}

.tileHeading {
	padding-top:5px;
	padding-bottom:5px;
}

.noteTextArea {
	
}

.patientPanel {
	border-left: 2px solid #eee;
}

.patientPanel h3 {
	margin-top:5px;
	margin-bottom:2px;
}

.addNewTile {
	background-color: #f5f5f5;;
}

#addNewTileInner {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 15%;
	color: #999999;
}

#addNewTileInner:hover {
	color: #000000;
}

.ignoreDrag {
	
}

.staticGridItem {
	-webkit-transition: left .3s, top .3s !important; -moz-transition : left
	.3s, top .3s !important; -o-transition : left .3s, top .3s !important;
	transition : left .3s, top .3s !important;
	display: list-item;
	position: absolute;
	-moz-transition: left .3s, top .3s !important;
	-o-transition: left .3s, top .3s !important;
	transition: left .3s, top .3s !important;
}


.addNewTileIcon {
	width: 100%;
	font-size: 30pt;
}

.badge-error {
	background-color: #b94a48;
}

.closeIcon,.closeIcon a {
	color: #999999;
}

.closeIcon:hover {
	color: #000000;
}

.noteReporter {
	font-size: 8pt;
	width: 50%;
}

.more {
	position: absolute;
	right: 0;
	bottom: 5px;
	padding-left: 2em;
}

.noteTextArea p {
	padding: 0;
	margin: 0;
	float: left;
	max-height: 60px;
	overflow: hidden;
}

.active.noteTextArea p {
	white-space: normal;
}

.active.noteTextArea .more {
	position: static;
	padding: 0;
}

.page-footer {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-top: 1px solid #ddd;
}

.footerText {
	font-size: 14px;
	color:#999;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* long messy gradient background code */
.grad {
	background: -moz-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(241,
		241, 241, 0)), color-stop(19%, rgba(241, 241, 241, 0.53)),
		color-stop(36%, rgba(241, 241, 241, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* IE10+ */
	background: linear-gradient(to right, rgba(241, 241, 241, 0) 0%,
		rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f1f1',
		endColorstr='#f1f1f1', GradientType=1);
	/* IE6-9 */
}